
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;0,800;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;0,800;1,100;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;0,800;1,100;1,200;1,700;1,800&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{
    height: 100vh;
    

}
.all{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 94%);
}
.number{
    display: flex;
}
.design{
    display: flex;
}
.line{
    width: 90%;
    height: 3.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ll{
    width: 100%;
    height: 1px;
    background-color: hsl(0, 0%, 86%);
}
.btn{
    width: 10%;
    height: 3.6rem;
    background-color: hsl(259, 100%, 65%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.btn img{
    transform: scale(50%);
}




.main{
    background-color: rgb(255, 255, 255);
    max-height: 32rem;
    max-width: 43rem;
    min-width: 23.43rem;
    width: 60%;
    padding: 3rem;
    border-radius: 1rem 1rem 9rem 1rem;
}
.ne{
    font-size: 12px;
    color: hsl(0, 1%, 44%);
    letter-spacing: 2px;
    font-weight: 600;
}
.err{
    display: none;
    font-style: italic;
    font-size: 12px;
    font-weight: 200;
    
}
input{
    background: none;
    border: 1px solid hsl(0, 0%, 86%);
    width: 8rem;
    height: 3rem;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    
    
}
input[type=text]{
    font-size: 28px;
    font-weight: 600;
}

.actualnum{
    display: flex;
    
    width: 80%;
    justify-content: space-between;

}
.useless{
   
    width: 20%;
    height: 3rem;
}


.age div{
    display: flex;
}


h1{
    font-style: italic ;
    font-weight: 800;
    font-size: 4rem;
    color: hsl(0, 0%, 8%);
}
.barsanum, .mainanum, .dinnum{
    color: hsl(259, 100%, 65%);

}
@media only screen and (max-device-width: 480px){
    .useless{
        display: none;
    }
    input{
        width: 5rem;
        border-radius: 7px;
}
    h1{
        font-size: 3rem ;
    }
    .actualnum{
        width: 100%;
    }
    .design{
        margin-top: 1rem;
        position: relative;
        margin-bottom: 1rem;
    }
    .btn{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        width: 20%;
    }
}

@media only screen and (max-device-width: 768px)
and (min-device-width:479px){
    .useless{
        display: none;
    }
    input{
        width: 6rem;
    }
    .actualnum{
        width: 100%;
    }
    h1{
        font-size: 3rem;
    }
    .design{
        margin-top: 1rem;
        position: relative;
        margin-bottom: 1rem;
    }
    .btn{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        width: 18%;
    }

}



